
 #welcome {
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    color: white;
    background-color: blue;
    margin-top: 20px;
    margin-left: 430px;
    margin-right: 430px;
   }
#question {
    justify-content: center;
    font-size: 25px;
    color: blue;
}

#countdown   {
    margin-left: 480px;
    margin-right: 480px;
    padding-left: 75px;
    margin-top: 20px;
    font-size: 30px;
    text-shadow: 5px;
    color: blue;
}

.btn {
    display:inline-block
    
}

.btn:hover {
    border-color: blue;
}
.hide {
    display: none;
}
